# Select query for a specific columns
#### SELECT column, another_column, …
#### FROM mytable;

# Select query with constraints
#### SELECT column, another_column, …
#### FROM mytable
#### WHERE condition
####     AND/OR another_condition
####     AND/OR …;


#### Operator	Condition	SQL Example
#### =, !=, <, <=, >, >=	Standard numerical operators	col_name != 4
#### BETWEEN … AND …	Number is within range of two values (inclusive)	col_name BETWEEN 1.5 AND 10.5
#### NOT BETWEEN … AND …	Number is not within range of two values (inclusive)	col_name NOT BETWEEN 1 AND 10
#### IN (…)	Number exists in a list	col_name IN (2, 4, 6)
#### NOT IN (…)	Number does not exist in a list	col_name NOT IN (1, 3, 5)


### EXAMPLES
#### SELECT * FROM movies WHERE id BETWEEN 0 AND 5;

# SQL Lesson 3: Queries with constraints (Pt. 2)
When writing WHERE clauses with columns containing text data, SQL supports a number of useful operators to do things like case-insensitive string comparison and wildcard pattern matching. We show a few common text-data specific operators below:

= (case sensitive) LIKE (case insensitive) != (case sensitive incomparison) LIKE (case insensitive comparison) (these are exact)

% (Used anywhere in a string to match a sequence of zero or more characters (only with LIKE or NOT LIKE)) 

col_name LIKE "%AT%"
(matches "AT", "ATTIC", "CAT" or even "BATS")

"\_" Used anywhere in a string to match a single character (only with LIKE or NOT LIKE)

col_name LIKE "AN_"
(matches "AND", but not "AN")

IN (…)	String exists in a list	col_name IN ("A", "B", "C")

NOT IN (…)	String does not exist in a list	col_name NOT IN ("D", "E", "F")

# SQL Lesson 4: Filtering and sorting Query results

Even though the data in a database may be unique, the results of any particular query may not be – take our Movies table for example, many different movies can be released the same year. In such cases, SQL provides a convenient way to discard rows that have a duplicate column value by using the **DISTINCT** keyword.

SELECT DISTINCT column, another_column, …
FROM mytable
WHERE condition(s);

## Ordering results

Unlike our neatly ordered table in the last few lessons, most data in real databases are added in no particular column order. As a result, it can be difficult to read through and understand the results of a query as the size of a table increases to thousands or even millions rows.

To help with this, SQL provides a way to sort your results by a given column in ascending or descending order using the **ORDER BY** clause.

SELECT column, another_column, …
FROM mytable
WHERE condition(s)
ORDER BY column ASC/DESC;

## Limiting results to a subset

Another clause which is commonly used with the **ORDER BY** clause are the **LIMIT** and **OFFSET** clauses, which are a useful optimization to indicate to the database the subset of the results you care about.
The **LIMIT** will reduce the number of rows to return, and the optional **OFFSET** will specify where to begin counting the number rows from.

SELECT column, another_column, …
FROM mytable
WHERE condition(s)
ORDER BY column ASC/DESC
LIMIT num_limit OFFSET num_offset;

# SQL Lesson 6: Multi-table queries with JOINs

## Database normalization
Database normalization is useful because it minimizes duplicate data in any single table, and allows for data in the database to grow independently of each other (ie. Types of car engines can grow independent of each type of car). As a trade-off, queries get slightly more complex since they have to be able to find data from different parts of the database, and performance issues can arise when working with many large tables.

## Multi-table queries with JOINs
Tables that share information about a single entity need to have a primary key that identifies that entity uniquely across the database. One common primary key type is an auto-incrementing integer (because they are space efficient), but it can also be a string, hashed value, so long as it is unique.


Using the **JOIN** clause in a query, we can combine row data across two separate tables using this unique key. The first of the joins that we will introduce is the **INNER JOIN**.

SELECT column, another_table_column, …
FROM mytable
INNER JOIN another_table 
    ON mytable.id = another_table.id
WHERE condition(s)
ORDER BY column, … ASC/DESC
LIMIT num_limit OFFSET num_offset;

The **INNER JOIN** is a process that matches rows from the first table and the second table which have the same key (as defined by the **ON** constraint) to create a result row with the combined columns from both tables. After the tables are joined, the other clauses we learned previously are then applied.

# SQL Lesson 7: OUTER JOINs

If the two tables have asymmetric data, which can easily happen when data is entered in different stages, then we would have to use a **LEFT JOIN**, **RIGHT JOIN** or **FULL JOIN** instead to ensure that the data you need is not left out of the results.

SELECT column, another_column, …
FROM mytable
INNER/LEFT/RIGHT/FULL JOIN another_table 
    ON mytable.id = another_table.matching_id;


Like the **INNER JOIN** these three new joins have to specify which column to join the data on.
When joining table A to table B, a **LEFT JOIN** simply includes rows from A regardless of whether a matching row is found in B. The **RIGHT JOIN** is the same, but reversed, keeping rows in B regardless of whether a match is found in A. Finally, a **FULL JOIN** simply means that rows from both tables are kept, regardless of whether a matching row exists in the other table.

When using any of these new joins, you will likely have to write additional logic to deal with **NULL**s in the result and constraints (more on this in the next lesson).

SELECT DISTINCT building_name, role  
FROM buildings
LEFT JOIN employees
    ON buildings.building_name=employees.building;