In [15]:
import pandas as pd
import seaborn as sns
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [ ]:
df = sns.load_dataset("titanic")
df.head()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [5]:
cat_cols = df.select_dtypes(include="object").columns
num_cols = df.select_dtypes(include="number").columns

cat_cols, num_cols

(Index(['sex', 'embarked', 'who', 'embark_town', 'alive'], dtype='object'),
 Index(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare'], dtype='object'))

In [8]:
for col in cat_cols:
    print(f"\n{df[col].value_counts()}\n")

sex
male      577
female    314
Name: count, dtype: int64


embarked
S    644
C    168
Q     77
Name: count, dtype: int64


who
man      537
woman    271
child     83
Name: count, dtype: int64


embark_town
Southampton    644
Cherbourg      168
Queenstown      77
Name: count, dtype: int64


alive
no     549
yes    342
Name: count, dtype: int64

In [10]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

### Scaling and Normalization

In [12]:
data_iris = load_iris()
X = pd.DataFrame(data_iris.data, columns=data_iris.feature_names)
y = data_iris.target

In [13]:
X.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [14]:
data_iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [17]:
### KNN without scaling
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.5, random_state=42
)

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)
acc_wo_scaling = accuracy_score(y_test, y_pred)
acc_wo_scaling

0.9466666666666667

In [ ]:
# Min-Max Scaling